# Web & API
requests
beautifulsoup4
lxml
flask
gunicorn

# Security
werkzeug

# Database
sqlalchemy

# Data Analysis
pandas
numpy
seaborn
matplotlib
plotly
nbformat

# Notebook & Display Tools
ipykernel
ipython

# Automation & Browser
selenium
webdriver-manager

# Environment & Utilities
python-dotenv