body {
    background-color: #000d33;
    background-image: url("https://www.transparenttextures.com/patterns/old-wall.png");
    color: #ffffff;
}

.container {
    margin-top: 50px;
}

.card {
    perspective: 1000px;
    background-color: transparent;
    border: none;
    margin-bottom: 20px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.front {
    background-color: #fff;
    color: black;
    display: flex;
    flex-direction: row;
}

.movie_img {
    width: 150px;
    object-fit: cover;
}

.movie_info {
    padding: 20px;
    text-align: left;
}

.back {
    background-color: #333;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.movie-actions {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.rating_circle {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}